@{
    ViewBag.Title = "About";
}
<div class="jumbotron" style="        background-color: #01126C;
        margin-top:1em;
        color: #E8E8E8;
        padding: 1em;
        border: solid 2px #E8E8E8;
        border-radius: 5px">
<h2>About JumpChain API</h2>
    <br />
<h4>We're here to help you through your journey</h4>
    <br />

<p>This website was initially created as a project for a coding camp, with the intention to continue it afterwards for a group of writers to maintain logs for all their characters.</p>
</div>

