@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="        background-color: #01126C;
        margin-top:1em;
        color: #E8E8E8;
        padding-top: 1em;
        border: solid 2px #E8E8E8;
        border-radius: 5px">
    <h3>Contact the developer</h3>

<address>
    <p>
        For any questions, suggestions, or concerns, please contact email.com
    </p>
</address>
</div>