@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h1>Welcome Jumper</h1>
            <p class="lead">The universes await...</p>
        </div>
    </div>

    <div class="row" style="margin-top: 8em; padding-right: 1em; text-align:center ">
        <div class="col-md-4" style="border-width:2px ; border-style: solid; border-radius:5px">
            <h2>What is JumpChain?</h2>
            <p>
                JumpChain is a form of a writing prompt, where the premise is that the Jumper travels between universes, collecting items, aquiring perks, meeting companions, and then moving on to the next universe. Sometimes there's a goal in mind, other times it's just to see how long they can go for. The jump ends when the Jumper either dies or decides to end the journey at the end of a jump.
            </p>
        </div>
        <div class="col-md-4" style="border-width:2px ; border-style: solid; border-radius:5px">
            <h2>How do I create a JumpChain?</h2>
            <p>Simply pick a universe and go through the prompt for it, selecting perks and items from that universe, and even taking drawbacks. The main premise is that these jumps are being made for the amusement of an overseer, called "Jump-chan", so it's encouraged to pick more risky jumps and drawbacks instead of idylic safe ones.</p>
        </div>
        <div class="col-md-4" style="border-width:2px ; border-style: solid; border-radius:5px">
            <h2>Reddit</h2>
            <p>What to learn more about the JumpChain community? Click here to check out the Reddit.</p>
            <p><a class="btn btn-default" style="background-color: #01126C;
        color: #E8E8E8" href="https://www.reddit.com/r/JumpChain/">Go to Reddit</a></p>
        </div>
    </div>
</div>
